// FONTS
$font-primary: 'Bai Jamjuree', sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 600;

//COLORS
// ### Primary
$color-cyan: hsl(171, 66%, 44%);
$color-light-blue: hsl(233, 100%, 69%);
$color-bg-light: #EFEFEF;
// ### Neutral
$color-dark-grayish-blue: hsl(210, 10%, 33%);
$color-grayish-blue: hsl(201, 11%, 66%);

$color-text-light: #9EABB2;
$color-text-body: #4C545C;
$color-text-body-dark: #565F67;
$color-text-body-light: #9EABB2;

$color-btn-text-light: #FEFEFE;

// BREAKPOINTS
$bp-tablet: 78.6em;
$bp-desktop: 11.8em;
